@import '../variables';
@import '../mixins';
@import '../globals';

.bio {
  text-align: center;
  @include breakpoint-up(large) {
    // margin: 0;
    top: 100%;
    transform: translateY(65%);
    text-align: start;
  }
  &__intro {
    margin-top: 10rem;
    font-size: $font-xl;
    color: $Dark;
    font-weight: bold;

    @include breakpoint-up(medium) {
      font-size: $font-desktop-xl;
    }

    @include breakpoint-up(large) {
      margin-top: 0rem;
    }
  }
  &__name {
    font-size: $font-xl;
    color: $Blue;
    font-weight: bold;
    @include breakpoint-up(medium) {
      margin-top: -3.5rem;
      font-size: $font-desktop-xl;
    }
  }
  &__desc {
    margin-top: -1rem;
    font-weight: 400;
    color: $Grey;
    @include breakpoint-up(medium) {
      font-size: $font-large;
    }
  }

  &__social {
    margin-top: 3rem;
    display: flex;
    justify-content: center;

    @include breakpoint-up(large) {
      justify-content: start;
      margin-left: -2rem;
      cursor: pointer;
    }

    .github,
    .behance,
    .linkedIn,
    .archinect {
      height: 2.5rem;
      margin: 0 2rem;
    }
  }
}
