@import '../variables';
@import '../mixins';
@import '../globals';

.desc {
  top: 100%;
  transform: translateY(-15%);
  color: $Grey;

  @include breakpoint-up(xl) {
    top: 100%;
    transform: translateY(-25%);
  }

  &__title {
    @include breakpoint-up(xl) {
      font-size: $font-normal;
    }
  }

  &__list-container {
    margin: 0;
    padding: 0;
  }

  &__list-item {
    line-height: 2.5rem;

    @include breakpoint-up(xl) {
      font-size: $font-normal;
      line-height: 3rem;
    }
  }

  &__footer {
    margin-top: 2.5rem;
  }

  // MAIN SQUARE
  .square {
    position: absolute;
    height: 5.5rem;
    width: 5.5rem;

    background: #eeeeee;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    @include breakpoint-up(xl) {
      height: 7.3rem;
      width: 7.3rem;
    }

    &__image {
      height: 5.5rem;
      width: 5.5rem;
      background-repeat: no-repeat;
      background-position: center;

      @include breakpoint-up(xl) {
        height: 7.3rem;
        width: 7.3rem;
      }
    }
  }

  .code__one {
    left: 55rem;
    top: 10rem;

    @include breakpoint-up(xl) {
      left: 85rem;
    }

    .threedmax {
      background-image: url(/src/img/code/3dmax.svg);
      background-size: 35%;
    }
  }

  .code__two {
    left: 60rem;
    top: -3rem;

    @include breakpoint-up(xl) {
      left: 90rem;
    }

    .revit {
      background-image: url(/src/img/code/revit.svg);
      background-size: 30%;
    }
  }

  .code__three {
    left: 65rem;
    top: -15rem;

    @include breakpoint-up(xl) {
      left: 95rem;
    }

    .webflow {
      background-image: url(/src/img/code/webflow.svg);
      background-size: 35%;
    }
  }

  .code__four {
    left: 70rem;
    top: -25rem;

    @include breakpoint-up(xl) {
      left: 105rem;
    }

    .figma {
      background-image: url(/src/img/code/figma.svg);
      background-size: 25%;
    }
  }

  .code__fifth {
    left: 115rem;
    top: 10rem;

    @include breakpoint-up(xl) {
      left: 162rem;
    }

    .aws {
      background-image: url(/src/img/code/aws.svg);
      background-size: 45%;
    }
  }

  .code__sixth {
    left: 112rem;
    top: -3rem;

    @include breakpoint-up(xl) {
      left: 157rem;
    }

    .mysql {
      background-image: url(/src/img/code/mysql.svg);
      background-size: 55%;
    }
  }

  .code__seventh {
    left: 107rem;
    top: -15rem;

    @include breakpoint-up(xl) {
      left: 152rem;
    }

    .sass {
      background-image: url(/src/img/code/sass.svg);
      background-size: 45%;
    }
  }

  .code__eighth {
    left: 102rem;
    top: -25rem;

    @include breakpoint-up(xl) {
      left: 147rem;
    }

    .react {
      background-image: url(/src/img/code/react.svg);
      background-size: 45%;
    }
  }
}
